.players-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    gap: 30px;
}

.player-card{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 22px 20px;
    border: solid black 4px;
    border-radius: 20px;
}

.player-icon{
    width: 6rem;
}

.player-name{
    font-size: 1.6rem;
    font-weight: bold;
}

/*Adicionar Jogador*/
.Add-player-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 22px 20px;
    border: solid black 4px;
    border-radius: 20px;
}

/*Botão*/
.Add-player-container button{
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.Add-player-container button:hover{
    transform: scale(1.1);
}

.Add-player-container img{
    width: 4rem;
}

.player-add{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*Informações*/
.player-add span{
    font-weight: 800;
    width: 100%;
    display: flex;
    text-align: center;
}

.player-add input{
    font-size: 1.2rem;
    width: 100%;
    padding: 10px;
    border: none;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
}