.stories{
    height: 65%;
    width: 100%;
    border: solid black 4px;
    border-radius: 20px;
}

/*Header da história*/

.story-header{
    height: 20%;
    width: 100%;
    display: flex;
}

/*Header infs*/
.header-infs{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-infs h2{
    font-weight: 900;
    font-size: 2rem;
}

.story-header button{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-top-right-radius: 20px;
    background-color: transparent;
}

.icon-home{
    height: 5rem;
    width: 5rem;
}

/*Container principal*/

.parts-of-story{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parts{
    height: 85%;
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgb(235, 235, 244);
    padding: 20px 0;
    border-radius: 20px;
    gap: 30px;
    overflow-x: hidden;
}

.player-message{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.player-message-icon{
    width: 4rem;
}

.current-player-id{
    font-size: 1.5rem;
    font-weight: bold;
}

.parts p{
    letter-spacing: 1px;
    padding: 15px;
    max-width: 80%;
    background-color: white;
    text-wrap: wrap;
    border: solid black 2px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

/*Container timer e msg*/
.main-itens{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*Caixa e interação*/

.interaction-container{
    height: 100%;
    width: 70%;
    display: flex;
    border: solid black 4px;
    border-radius: 20px;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.interaction-container:hover{
    transform: scale(1.01);
}

.interaction-container textarea{
    font-family: Arial;
    font-size: 1.2rem;
    height: 70%;
    width: 100%;
    border: none;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    resize: none;
    box-sizing: border-box;
}

.interaction-container button{
    font-weight: bold;
    font-size: 1.2rem;
    height: 30%;
    width: 100%;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(235, 235, 244);
}

.interaction-container button:hover{
    background-color: rgb(203, 203, 222);
}

/*Timer*/

.timer-container{
    font-family: Arial;
    font-size: 1.2rem;
    height: 100%;
    width: 25%;
    border: none;
    padding: 20px;
    border-radius: 20px;
    resize: none;
    box-sizing: border-box;
    border: solid black 4px;
}

.timer-container span{
    font-weight: bolder;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-player{
    font-size: 1.5rem;
}

.timer{
    font-size: 2.5rem;
}