html, body{
    font-family: arial;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    gap: 5px;
}

button:hover{
    cursor: pointer;
}

textarea:focus{
    outline: none;
}

input:focus{
    outline: none;
}

/*Menu Lateral*/
.MenuLateral{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.B-Menu{
    background-color: ghostwhite;
    width: 85%;
    height: 15%;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    transition: 1s;
}

.B-Menu:hover{
    width: 100%;
    transition: 1s;
    background-color: aliceblue;
}

/*Galeria de Notas*/
.GaleriaDeHistoria{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.Galeria{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    border: solid black 2px;
    border-radius: 20px;
}

.story{
    height: 45%;
    width: 45%;
    background-color: white;
    margin: 15px;
    border: solid black 2px;
    border-radius: 10px;
    transition: 1s;
}

.story:hover{
    height: 50%;
    width: 50%;
    transition: 1s;
}

.cabecalho {
    height: 15%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    border-radius: 10px;
    background-color: ghostwhite;
}

.img-story{
    height: 40%;
    width: 100%;
}

.infs-story{
    height: 45%;
    width: 100%;
    background-color: ghostwhite;
    border-radius: 10px;
}

.img-profile-story{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 50px;
    background-color: black;
}

.id-1{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}

.id-2{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-create{
    font-weight: bold;
    float: left;
}

.creator{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}

.name-creator{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.description-story{
    height: 45%;
    width: 90%;
    margin-left: 5%;
    border: solid black 2px;
    border-radius: 10px;
}

.description-text{
    margin-top: 10px;
    margin-left: 10px;
}

.title-story-g{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-in-story{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Pop-up criar história*/
.popup {
    height: 85%;
    width: 45%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
}

.popup-conteudo {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    text-align: center;
}

.popup input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 2px solid gray;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border 0.3s ease;
}

.popup button {
    margin: 10px 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.description-box{
    height: 30%;
    width: 85%;
    margin-top: 35%;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border: solid gray 2px;
    border-radius: 10px;
}

.popup button:hover {
    transform: scale(1.05);
}

#fecharPopup {
    width: 45%;
    background-color: #dc3545;
}

#fecharPopup:hover {
    background-color: #c82333;
}

#salvarNome {
    width: 45%;
    background-color: #28a745;
}

#salvarNome:hover {
    background-color: #218838;
}

.buttons-create{
    width: 100%;
    position: absolute;
    bottom: 0;
}
/*Pop-up usuário*/
.pop-user {
    height: 85%;
    width: 45%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
}

.user-block{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infs-user{
    height: 40%;
    width: 100%;
}

.name-user-block{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fechar-user{
    height: 10%;
    width: 80%;
    margin-left: 10%;
    border: solid black 2px;
    border-radius: 20px;
    font-size: 20px;
}

.photo-profile{
    height: 180px;
    width: 180px;
    border: solid black 2px;
    border-radius: 100px;
}

.name-user{
    font-size: 40px;
    font-weight: bold;
}
